body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.0rem;
    font-family: 'Montserrat',
    sans-serif;
}

body {
    margin-bottom: 100px;
    background-color: #252632;
}

a {
    
    color: white;
}



img {
    max-width: 100%;
    
}

.header {
    background: #37394b;
    justify-content: space-between;
    display: flex;
    max-width: 800px;
    padding: 30px 280px;
    margin: auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.151);
}

.menu {
    display: flex;
    
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    text-decoration: none;
    
    
}

.menu li a:hover {
    background-color: #f8aa1c;
}



div {
    color: white;
}

.logo {
    width: 50%;
    margin-right: 80px;
    padding: 60px;
    padding-right: 100px;
    padding-left: 0px;
    padding-bottom: 40px;
    background-color: #1b236d;
   
    
}

.nav {
    max-width: 800px;
    padding-right: 600px;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: 'Montserrat',sans-serif;
    background-color: #37394b;
    
}

nav {
    padding-left: 900px;
}

.foto{
    width: 80%;
    margin-right: 80px;
    padding: 60px;
    padding-right: 100px;
    padding-left: 0px;
    padding-bottom: 40px;
    background-color: #1b236d;
}

.content {

    display: grid;
    width: 50%;
    padding-left: 40px;
    padding-right: 200px;
    margin: auto;
    background-color: #1b236d;
    font-family: 'Montserrat',sans-serif;
    
    
    
}

.content > a {
    color: #f8aa1c;
    text-decoration: underline;
}




.grid {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: flex-start;
  
    
}

.grid > div{
    padding: 50px;
    background-color: #252632;
    
}


section > div a{
    color: #f8aa1c;
    text-decoration: underline;
}

#area > img {
    display: list-item;
    width: 20px;
   
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
    justify-content: flex-start;
    
    
    
}

footer > div {
    width: 100px;
    padding: 70px;
    margin: auto;
    text-align: right;
    background-color: #37394b;
    color: white;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.411);
    
}




